{% extends "BlogPop/base.html" %}
{% block content %}
    <section class="hero">
        <div class="hero-container">
            <div class="hero-text">
                <h1>Hey There!</h1>
                <p>
                    Welcome to BlogPop, my first full-stack web development project! 
                    I used Django for the backend, HTML and CSS for the frontend, and JavaScript for interactive functionality. 
                    I'm very excited to share this journey with you. 
                    Your support means the world to me as I continue to create and grow. 
                    Feel free to connect with me! If you have any questions or suggestions, don't hesitate to reach out. 
                    Your feedback is truly appreciated!
                    Cheers, SKM
                </p>
                <div class="social-icons">
                    <a href="mailto:skm908099@gmail.com" >
                        <i class="fa-solid fa-envelope"> Gmail</i>
                    </a>
                    <a href="https://github.com/Manojjjjjj07" target="_blank">
                        <i class="fa-brands fa-github"> GitHub</i>
                    </a>
                    <a href="https://www.linkedin.com/in/manoj-kanakavel-b97147238/" target="_blank">
                        <i class="fa-brands fa-linkedin"> LinkedIn</i>
                    </a>
                </div>
            </div>
            <div class="hero-image">
                <img src="/media/deadpool.png" alt="About Me Image">
            </div>
        </div>
    </section>


{% endblock content %}
