{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/488f9e2727.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'BlogPop/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'BlogPop/dark-mode.css' %}">

    {% if title %}
        <title>BlogPop - {{ title }}</title>
    {% else %}
        <title>BlogPop</title>
    {% endif %}
</head>
<body>
  <body class="{% if request.COOKIES.dark_mode == 'enabled' %}dark-mode{% endif %}"></body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'Blog-home' %}">BlogPop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'Blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'Blog-about' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="btn btn-outline-light ml-3" href="{% url 'post-create' %}">New Post</a>
                <a class="btn btn-outline-light ml-3" href="{% url 'search-posts' %}">Search Posts</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <form action="{% url 'logout' %}" method="post" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="nav-item nav-link">Logout</button>
                </form>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
              <!-- Dark Mode Toggle Button -->
              
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Latest News and Posts</h3>
            <p class='text-muted'>Happy New Year 2025!
              <div class="list-group">
                <a href="{% url 'popular-posts' %}" class="list-group-item list-group-item-action">Popular Posts</a>
                <a href="{% url 'search-posts' %}" class="list-group-item list-group-item-action">Search Posts</a>
                <a href="#" class="list-group-item list-group-item-action">Donate</a>
                <a href="#" class="list-group-item list-group-item-action">Rate my WebApp</a>
            </div>
            </p>
          </div>
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'BlogPop/main.js' %}?v=1.1"></script>

    <script>
      const darkModeToggle = document.getElementById('darkModeToggle');
      const body = document.body;

      darkModeToggle.addEventListener('click', () => {
          const darkModeEnabled = body.classList.toggle('dark-mode');
          document.cookie = `dark_mode=${darkModeEnabled ? 'enabled' : 'disabled'}; path=/`;
      });
  </script>
  <script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
</script>


  </body>
</html>
